<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>whiteWizard-0-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{51,72}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{51,72}}</string>
                <key>sourceSize</key>
                <string>{71,112}</string>
            </dict>
            <key>whiteWizard-0-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,78},{47,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{47,74}}</string>
                <key>sourceSize</key>
                <string>{71,102}</string>
            </dict>
            <key>whiteWizard-0-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,154},{51,72}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{51,72}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>whiteWizard-0-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{47,74}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{47,74}}</string>
                <key>sourceSize</key>
                <string>{71,106}</string>
            </dict>
            <key>whiteWizard-1-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,146},{50,68}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{50,68}}</string>
                <key>sourceSize</key>
                <string>{72,112}</string>
            </dict>
            <key>whiteWizard-1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,74},{46,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{46,70}}</string>
                <key>sourceSize</key>
                <string>{72,102}</string>
            </dict>
            <key>whiteWizard-1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,76},{50,68}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{50,68}}</string>
                <key>sourceSize</key>
                <string>{72,100}</string>
            </dict>
            <key>whiteWizard-1-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{46,70}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{46,70}}</string>
                <key>sourceSize</key>
                <string>{72,106}</string>
            </dict>
            <key>whiteWizard-2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{53,74}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{53,74}}</string>
                <key>sourceSize</key>
                <string>{67,112}</string>
            </dict>
            <key>whiteWizard-2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,154},{47,74}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{47,74}}</string>
                <key>sourceSize</key>
                <string>{67,102}</string>
            </dict>
            <key>whiteWizard-2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,74}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{53,74}}</string>
                <key>sourceSize</key>
                <string>{67,100}</string>
            </dict>
            <key>whiteWizard-2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{47,74}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{47,74}}</string>
                <key>sourceSize</key>
                <string>{67,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>whiteWizard-ipadhd.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c8b684856b6fce3442be2910b450794$</string>
            <key>textureFileName</key>
            <string>whiteWizard-ipadhd.png</string>
        </dict>
    </dict>
</plist>
